<div class="page-header">
  <h1>Friends</h1>
</div>

<div>
  <strong>Friend list:</strong>
  <%= link_to 'Blocked', user_friendships_path(list: 'blocked') %>
  <%= link_to 'Requested', user_friendships_path(list: 'requested') %>
  <%= link_to 'Accepted', user_friendships_path(list: 'accepted') %>
  <%= link_to 'Pending', user_friendships_path(list: 'pending') %>
</div>

<% @user_friendships.each do |friendship| %>
  <% friend = friendship.friend %>
  <div id="<%= dom_id(friendship) %>" class="friend row">
    <div class="span1">
      <%= link_to image_tag(friend.gravatar_url), profile_path(friend) %>
    </div>
    <div class="span7">
      <strong><%= friend.full_name %></strong><br />
        <% if friendship.pending? %>
          <em>Friendship is pending.</em> <%= link_to "Delete request", edit_user_friendship_path(friendship.friend.profile_name) %>.
        <% end %>
        <% if friendship.requested? %>
          <em>Friendship requested.</em> <%= link_to "Accept Friendship", edit_user_friendship_path(friendship.friend.profile_name) %>.
        <% end %>
        <% if friendship.accepted? %>
          <em>Friendship started <%= friendship.updated_at %>.</em> <%= link_to "Update friendship", edit_user_friendship_path(friendship.friend.profile_name) %>.
        <% end %>
    </div>
  </div>
<% end %>