<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :profile_name %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>

  <div class="form-actions">
    <%= f.submit 'Sign Up', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
