<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a href="#" class="brand"> Treebook</a>
				<ul class="nav">
					<li><%= link_to "All Statuses", statuses_path %></li>
			</div>
		</div>
	</div>
	<div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

		<%= yield %>
	</div>
</body>
</html>
